/benchmarks/11_amortized_time_complexity/cmake-build-debug/
/benchmarks/9_lambda_as_std_function/cmake-build-debug/
/benchmarks/6_lambda/cmake-build-debug/
/benchmarks/5_pass_by_value_vectors/cmake-build-debug/
/benchmarks/4_rule_of_zero/cmake-build-debug/
/tests/cmake-build-debug/
